{% extends 'layouts/head.twig' %}

{% block content %}

    <br>
    <h1 class="lh30 mt15 text-center">SELAMAT DATANG</h1>
    <p class="lead mb30 text-center">Pembuatan Usulan Paket Pengadaan</p>
    <hr>

{% endblock %}